.box{
    display: block;
    
   
    width: 410px;
    height: 500px;

    background: rgba(89, 13, 252, 0.22);
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px solid #000000;
    border-radius: 20px; 
}


.icon{

    padding-top: 50px;
    max-width: 100%;
    right: 46.02%;
    bottom: 58.17%;
    text-align: center;
}


.divAnyTodo{
    padding-top: 10px;
    max-width: 100%;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 32px;
    text-align: center;
    color: #590DFC;
}



.text{
    padding-top: 10px;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: #000000;
}

.divGoogle{
    padding-top: 10px;
    text-align: center;
}

.login_google{
    padding: 15px;
    gap: 15px;

    width: 337px;
    height: 54px;

    background: #FFFFFF;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084), 0px 2px 3px rgba(0, 0, 0, 0.168);
    border-radius: 10px;

    cursor: pointer;
}

.divApple{
    padding-top: 10px;
    text-align: center;
}

.login_apple{

    padding: 15px;
    gap: 15px;

    
    width: 337px;
    height: 54px;
  

    background: #000000;
    border-radius: 10px;
    color: #FFFFFF;

    cursor: pointer;
}

.p{
    
    width: 241px;
    height: 52px;
   

    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    text-align: center;

    color: #000000;
}

.crieAgora{
    
    width: 241px;
    height: 46px;
  
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    text-align: center;

    color: #590DFC;
}

/*APLICANDO A RESPONSIVIDADE*/

@media (min-width: 480px){
    .box{
        color: burlywood;
    }
}