.container{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-wrap: wrap;
    padding-top: 20px;
    
}

.min_height{
    min-height: 550px;
}

.start{
    justify-content: flex-start;
}

.column{
    flex-direction: column;
    
}

